@font-face {
  font-family: 'badbrush';
  src: url('./fonts/BadBrush-RpD6l.ttf') format('truetype');
}

@font-face {
  font-family: 'danger';
  src: url('./fonts/DangerZone-w1Pe3.ttf') format('truetype');
}

@font-face {
  font-family: 'scriptin';
  src: url('fonts/SCRIPTIN.ttf') format('truetype');
}

:root{
    --heightimg:100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
    display: flex;
    gap: 1rem;
    background-color: rgba(91, 0, 0, 0.833); 
    align-items: center;
}
.left{
    position: relative;
}

.name{
    position:absolute;
    top: 5%;
    left: 5%;
    font-size:calc(var(--heightimg)/5);
    font-family: badbrush;
    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* gradient */
  -webkit-background-clip: text;   /* clips background to text */
  -webkit-text-fill-color: transparent;
}

.signup{
    position: absolute;
    top: 80%; 
    left: 0; 
    width: 100%; 
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.625); 
    padding: 0.5rem 0; 
    font-size:calc(var(--heightimg)/30);
    font-family: danger;
}

.textbg{
    background: radial-gradient(circle, #fe0000, #000000, #ff0000); /* gradient */
  -webkit-background-clip: text;   /* clips background to text */
  -webkit-text-fill-color: transparent;
}
.left .image img{
    width:100vh;
    height: var(--heightimg);
    object-fit: cover;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    height: 100vh; 
    width: 100vh;
}

.title{
    font-family: scriptin;
    padding-top: 1vh;
    align-self: flex-start;
    padding-left: 10vh;
    font-size: 5vh;
    background: linear-gradient(.25turn, black, 70%, white); /* gradient */
  -webkit-background-clip: text;   /* clips background to text */
  -webkit-text-fill-color: transparent;
}

form{
    align-self: center;
    padding-left: 5vh;
    font-size: 1.5vh;
    font-family: badbrush;
    box-shadow: 
    5px 0 5px -2px rgba(0,0,0,0.5),   /* right */
   -5px 0 5px -2px rgba(0,0,0,0.5),   /* left */
    0 5px 5px -2px rgba(0,0,0,0.5),   /* bottom */
    0 -5px 5px -2px rgba(0,0,0,0.5);
    width: 60vh;
}

.container input, .container select{
    padding-bottom: 1vh;
    padding-left: 0.25vh;
    width: 50vh;
}

.container input::placeholder{
  font-family: "Courier New", monospace; /* change font */
  font-size: 14px;                       /* change size */
  color: #888;                           /* change color */
  font-style: italic;                    /* optional */
}

.honorific option:disabled{
    font-family: "Courier New", monospace; /* change font */
    font-size: 14px;                       /* change size */
    color: #888;                           /* change color */
    text-align: center;
}

.text{
    text-align: center;
}

button{
    margin-top: 4vh;
    margin-bottom: 3vh;
    margin-left: 13vh;
    width: 12.5rem;
    height: 2.75rem;
    font-size: 1.5rem;
    background: black;
    color: red;
    border: 0;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.18); 
    font-family: danger;
    cursor: pointer;
    transition: color 2s ease, transform 1s ease, cursor 0.2s ease,box-shadow 1.2s;
}

.login{
    margin-left: 10vh;
}

button:hover {
  transform: scale(1.2);    
}
button:active {
  transform: scale(0.9); 
  transition: transform 1.25s ease-in, transform 1.25s ease-out;
  cursor: wait; 
  color: green;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3); 

}
button:focus {
  outline: none;
}


.footer{
    display: flex;
    align-items:center;
    align-self: flex-end;
    justify-content:center;
    padding-bottom: 1vh;
    padding-right: 20vh;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.copytext{
    color:black;
    font-family: 'danger';
    font-size: 1.25rem;
}

.github{
    width: 2rem;
    height: 2rem;
    display: flex;
    object-fit: cover;       
    overflow: hidden;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    margin: 0px;
    
    
}
.github img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 1.75s ease;
  flex-shrink:0;
}
.github img:hover{
    transform: scale(1.6) rotate(180deg);
    transition: transform 0.3s ease-in, transform 2.5s ease-out;
}

a{
    color: rgb(0, 112, 239);
    transition: color 1s ease-in;
}
a:hover {
  color: rgb(0, 255, 238);              
  text-decoration: underline;
}


input:valid{
    border: 2px solid green;
    box-shadow: 0px 4px 8px green;
}

input:invalid{
    border: 2px solid red;
    box-shadow: 0px 4px 8px red;
}

select{
    border: 2px solid red;
    box-shadow: 0px 4px 8px red;
}